<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="netbanking">
	<listeners>
		<listener class-name="com.netbanking.Utilities.Reporting" />
	</listeners>


	<test name="Bankingapp Test">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.netbanking.TestCases.TC_LoginTest_001"/>
			<class name="com.netbanking.TestCases.TC_LoginDDT_002" />
			<class name="com.netbanking.TestCases.TC_AddCustomerTest_003" />
			
		

		</classes>
	</test>
</suite>